<li class="nav-item ">
    <a class="nav-link" href="{% url 'registrar' %}">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Registrar</a>
</li>

 <a class="dropdown-item text-white" href="#">
     <i class="fa fa-lock" aria-hidden="true"></i>
     Alterar senha</a>

<li><a href="{% url 'systemcel:mandarim' %}" class="text-white">Mandarim</a></li>


<nav>
  <ul class="menu">
		<li><a href="#">Home</a></li>
		<li><a href="#">Sobre</a></li>
	  		<li><a href="#">O que fazemos?</a>
	         	<ul>
	                  <li><a href="#">Web Design</a></li>
	                  <li><a href="#">SEO</a></li>
	                  <li><a href="#">Design</a></li>
	       		</ul>
			</li>
		<li><a href="#">Links</a></li>
		<li><a href="#">Contato</a></li>
</ul>
</nav>



 <ul>
	                            <li><a href="">Meus dados</a></li>
	                            <li><a href="">Endereço</a></li>
                                <li><a href="{%  %}">Contatos</a></li>
                                <li><a href="{% url  %}">Escola</a></li>
	       		        </ul>