{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}

    <title>Modelo Base HTML</title>

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/systemcel.css' %}">

</head>

<body>

    {% block menu %}

    <div class="bg-light">

        Código do menu do Site...

    </div>

    {% endblock %}

    {% block destaque %}

    <div class="bg-secondary">

        Figuras de Destaque...

    </div>

    {% endblock %}

    

    <div class="container">
    {% block conteudo %}

        <h3>Template Modelo HTML.</h3>

        <p>Conteúdo do Site...</p>

    {% endblock %}
    </div>

    
    
    {% block rodape %}

    <div class="bg-light">
        Rodapé do Site...
    </div>

    {% endblock %}





    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>