{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% block titulo %}

    <title>System CEL Estevam</title>

    {% endblock %}

    <link href="{% static 'img/logo_cel.gif' %}" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/systemcel.css' %}">

    <!-- Importação do Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />

</head>

<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">


    {% block menu %}

 <!-- Bloco com o menu principal -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-ifpr font-115 shadow">

            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/cel_estevam.jpg' %}" height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'systemcel:inicio' %}">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Início
                            </a>
                        </li>


                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'systemcel:sobre' %}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                Sobre
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                Ajuda
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">

                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span id="username">{{ request.user }}</span>
                            </a>

                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Alterar senha</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Sair</a>

                        </li>
                        {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'registrar' %}">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                Registrar
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Login
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>

                <!-- fim do container -->
            </div>
        </nav>
        {% endblock %}



    {% block destaque %}

    <div class="center">
        <img alt= "Logo CEL Estevam" src="{% static 'img/cel_estevam.jpg' %}" width="35%">
        <img alt= "Logo CEL ONU" src="{% static 'img/cel_onu.jpg' %}" width="60%">
        <!-- <img alt= "Logo CEL Estadual" src="{% static 'img/cel.jpg' %}">-->
    </div>

    <div class="bg-secondary">

        Figuras de Destaque...

    </div>

    {% endblock %}

    

    <div class="container">
    {% block conteudo %}

        <h3>Template Modelo HTML.</h3>

        <p>Conteúdo do Site...</p>

    {% endblock %}
    </div>

    
    </main>

      <footer class="mt-auto">

        <!-- Bloco acima do rodapé com links -->
        {% block rodape-links %}
        <div class="container-fluid bg-ifpr text-white p-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h5>O Município</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h5>Serviços</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h5>Acesso rápido</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Link 1</a></li>
                            <li><a href="#" class="text-white">Link 2</a></li>
                            <li><a href="#" class="text-white">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


        <!-- Rodapé -->
        {% block rodape %}
        <div class="container-fluid bg-light text-center p-3">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <img src="{% static 'img/logo_cel.jpg' %}" height="48" class="float-left" alt="">
                    <img src="{% static 'img/cel_onu.jpg' %}" height="48" class="float-right" alt="">
                    <p>
                        <span class="lead">C.E.L. "Professor Estevam Ferri"</span><br>
                        <span>Desenvolvido por Projeto Integrador Univesp - Pq. Tecnológico S.J.C. - Grupo 002 / Rafael H. D. Zottesso</span>
                    </p>
                </div>
                <p>
                <!-- <div class="col-md text-left">
                    <img src="{% static 'img/cel_estevam.jpg' %}" height="100" alt="">
                </div> -->

                </p>
            </div>
        </div>
            {% endblock %}

    </footer>


    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

    <!-- Bloco destinado aos scripts para cada página -->
    {% block scripts %}

    {% endblock %}


</body>
</html>